* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: #e9dcc6;  
  color: #3b2f2f;              
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 45px;
  border-bottom: 1px solid #d1c1a1;
  font-family: "Playfair Display", serif;
  position: fixed;
  width: 100%;
  box-shadow: 1px 1px #3b2f2f;
}
.logo {
  font-size: 24px;
}
.nav-links {
  display: flex;
  gap: 25px;
}
.nav-links a {
  text-decoration: none;
  color: #3b2f2f;
}
.nav-links a:hover {
  color: #a67b5b;
}
.hero{
    height: 100vh;
    background-color: #f5f0e1;  
    display: flex;                     
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;    
    background-image: url(./hero-img1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
}
.hero-content {
  max-width: 700px;
}
.hero h2 {
  font-size: 28px;
  color: #3b2f2f;
  margin-bottom: 15px;
}
.hero p {
  font-size: 18px;
  color: #5b4636;
  text-shadow: 1px 1px 2px #bfa98a;
}
section.about{
    background-color: #e9dcc6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 120px;
    gap: 60px;
}
div.about-image{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
}
div.about-image img{
    width: 250px;
    height: 300px;
    border: 2px solid #5b4636;
    border-radius: 8px
}
div.about-text h2 {
  font-size: 24px;
  color: #4b3621;
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
}
div.about-text p {
  font-size: 18px;
  color: #5b4636;
  text-shadow: 1px 1px 2px #bfa98a
}
div.about-text span {
  color: #5b4636;
  font-weight: bold;
}
section.culture{
    background-color: #d9c9a5;
    padding-bottom: 100px;
}
div.culture-text-h{
    color: #4b3621;
    margin-left: 100px;
    padding-top: 50px;
    font-family: "Playfair Display", serif;
}
div.culture-images{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: space-evenly;
    padding-left: 50px;
}
div.culture-images img{
    border: 2px solid #5b4636;
    border-radius: 8px;
    width: 400px;
    height: 400px;
    margin-top: 60px;

}
div.culture-text-p{
    color: #5b4636;
    font-size: 18px;
    text-shadow: 1px 1px 2px #bfa98a;
    margin: 30px 120px 0px 120px;
    border: 4px solid #5b4636;
    border-radius: 8px;
    padding: 20px;
    background-color: #e9dcc6;
}
section.gallery-container {
  background-color: #e9dcc6; /* or #cdb891 if you want darker */
  text-align: center;
  padding: 80px 100px;
}
div.gallery{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    justify-content: space-evenly;
    padding-left: 25px;
}
section.gallery-container h2{
    color: #4b3621;
    font-family: "Playfair Display", serif;
}
div.gallery img{
    border: 2px solid #5b4636;
    border-radius: 8px;
    width: 300px;
    height: 400px;
    margin-top: 60px;
}
section.shop {
  background-color: #d9c9a5;
  text-align: center;
  padding: 100px 60px;
}
section.shop h2{
    color: #3b2f2f;
    margin-bottom: 50px;
    font-family: "Playfair Display", serif;
}
section.shop h2 {
  color: #4b3621;
  margin-bottom: 50px;
  font-family: "Playfair Display", serif;
}
.shop-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
.shop-buttons button {
  background-color: #e9dcc6;
  color: #4b3621;
  border: 2px solid #5b4636;
  border-radius: 10px;
  font-size: 18px;
  padding: 15px 30px;
  cursor: pointer;
  box-shadow: 2px 2px 5px #00000033;
}
.shop-buttons button:hover {
  background-color: #5b4636;
  color: #e9dcc6;
}
footer.footer {
  background-color: #5b4636;
  color: #e9dcc6;
  padding: 60px 100px 20px;
  font-family: "Playfair Display", serif;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-bottom: 30px;
}
.footer-container h3 {
  color: #e9dcc6;
  margin-bottom: 15px;
  font-size: 20px;
  border-bottom: 2px solid #d9c9a5;
  display: inline-block;
  padding-bottom: 5px;
}
.footer-container p {
  font-size: 16px;
  color: #f5f0e1;
  line-height: 1.6;
}
